### 🧪 Validation Results
✅ **FluSight-baseline/2025-12-13-FluSight-baseline.csv** passed validation.
✅ **FluSight-base_seasonal/2025-12-13-FluSight-base_seasonal.csv** passed validation.
✅ **FluSight-equal_cat/2025-12-13-FluSight-equal_cat.csv** passed validation.
