name: Build dependency cache on main branch
on:
  push:
    branches: [main, master]
    paths:
      - '.github/workflows/cache-hubval-deps.yaml'
  schedule:
    - cron: "10 0 * * *"

jobs:
  build-deps-cache-on-main:
    if: ${{ github.repository_owner == github.repository_owner }}
    runs-on: ubuntu-22.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          install-r: false
          use-public-rspm: true
          extra-repositories: 'https://hubverse-org.r-universe.dev'

      - name: Update R
        run: |
          sudo apt-get update

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          pak-version: "devel" #Delete this line or comment it out when pak is fixed; added 2025-05-12.
          packages: |
            any::hubValidations
            any::sessioninfo
